.advantages-sublist {
  @include list-reset;

  padding-top: 25px;
  padding-bottom: 52px;
  background-color: $containerBackgroundColor;
  color: $fontPrimaryColor;

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 42px;
    padding-bottom: 44px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}
