.advantages-list {
  position: relative;
  counter-reset: advantages;

  @include list-reset;

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages-list__item--advanced {
  grid-column: 1 / span 3;
}
