.advantages-sublist {
  padding-top: 15px;
  padding-bottom: 37px;
  background-color: $containerBackgroundColor;
  color: $fontPrimaryColor;

  @include list-reset;

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 42px;
    padding-bottom: 44px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}
