.advantages-item-base {
  padding: 0 18px;
  background-color: $secondaryColor;
  box-sizing: border-box;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
  }
}

.advantages-item-base__content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 24px 18px;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;

  @media screen and (min-width: $tablet-width) {
    justify-content: flex-start;
    align-items: center;
    border: 0;
    padding: 42px 33px;
    max-width: 228px;
    min-height: 256px;
    box-sizing: border-box;
  }
}

.advantages-item-base__title {
  margin: 0;
  margin-bottom: 11px;
  color: $titleColor;

  @include font-style(18px, 26px, 700);
  @include add-number;

  @media screen and (min-width: $tablet-width) {
    @include font-style(21px, 26px, 700);
  }
}

.advantages-item-base__description {
  margin: 0;

  @include font-style(14px, 21px, 400);
}
