.advantages-sublist-item {
  position: relative;
  margin: 0;
  padding: 15px 18px 15px 18px;

  &::before {
    position: absolute;

    @media screen and (min-width: $tablet-width) {
      margin: 0 auto;
      position: static;
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: $tablet-width) {
    text-align: center;
    padding: 15px 36px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 15px 58px;
  }
}

.advantages-sublist-item__wrapper {
  padding-left: 47px;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
  }
}

.advantages-sublist-item__title {
  margin: 0;
  margin-bottom: 16px;
  color: $titleColor;
  text-transform: uppercase;

  @include font-style(18px, 26px, 700);

  @media screen and (min-width: $tablet-width) {
    @include font-style(21px, 26px, 700);
  }
}

.advantages-sublist-item__description {
  margin: 0;
  text-transform: uppercase;

  @include font-style(14px, 21px, 400);
}
