.advantages-item {
  box-sizing: border-box;
  background-color: $secondaryColor;
}

.advantages-item__content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 18px 24px 18px;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;

  @media screen and (min-width: $tablet-width) {
    justify-content: center;
    align-items: center;
    border: 0;
  }
}

.advantages-item__content-wrapper--first {
  padding: 71px 20px 40px 18px;
}

.advantages-item__title {
  margin: 0;
  margin-bottom: 11px;
  color: $fontSecondaryColor;
  text-transform: uppercase;

  @include font-style(18px, 26px, 700);

  @media screen and (min-width: $tablet-width) {
    @include font-style(21px, 26px, 700);
  }
}

.advantages-item__description {
  margin: 0;
  text-transform: uppercase;
}

.advantages-item__photo {
  display: block;
  padding: 0;
  width: 100%;
  object-fit: cover;
}

.advantages-item__sublist {
  grid-column: 1 / span 3;
}

.advantages-item--base {
  padding: 0 18px 0 18px;
}

.advantages-item--advanced {
  background-color: $primaryColor;
  color: #ffffff;
  border: 0;

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantages-item__title--advanced {
  color: #ffffff;
}

.advantages-item--advanced:first-child::before {
  position: absolute;
  top: -1px;
  display: block;
  width: 100%;
  height: 37px;
  background-image: url("../../img/white-devider-main.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}
