.advantages-item-base {
  padding: 0 18px 0 18px;
  background-color: $secondaryColor;
  box-sizing: border-box;
}

.advantages-item-base__content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 15px 24px 18px;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;

  @media screen and (min-width: $tablet-width) {
    justify-content: center;
    align-items: center;
    border: 0;
  }
}

.advantages-item-base__title {
  margin: 0;
  margin-bottom: 11px;
  color: $fontSecondaryColor;
  text-transform: uppercase;

  @include font-style(18px, 26px, 700);

  @media screen and (min-width: $tablet-width) {
    @include font-style(21px, 26px, 700);
  }
}

.advantages-item-base__description {
  margin: 0;
  text-transform: uppercase;

  @include font-style(14px, 21px, 400);
}
