.advantages-sublist-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 18px;
  padding-right: 18px;

  &::before {
    position: absolute;

    @media screen and (min-width: $tablet-width) {
      align-self: flex-end;
      margin: 0 auto;
      position: static;
    }
  }

  @media screen and (min-width: $tablet-width) {
    gap: 27px;
    text-align: center;
    padding: 15px 16px;
  }

  @media screen and (min-width: $desktop-width) {
    justify-content: flex-end;
    padding: 15px 58px;
  }
}

.advantages-sublist-item__wrapper {
  padding-left: 47px;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
  }
}

.advantages-sublist-item__title {
  margin: 0;
  margin-top: 6px;
  margin-bottom: 16px;
  color: $titleColor;
  text-transform: uppercase;

  @include font-style(18px, 26px, 700);

  @media screen and (min-width: $tablet-width) {
    margin: 0 0 23px 0;

    @include font-style(21px, 26px, 700);
  }
}

.advantages-sublist-item__description {
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;

  @include font-style(14px, 21px, 400);

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages-sublist-item:last-child .advantages-sublist-item__description {
  margin-bottom: 0;
}
