.button {
  display: block;
  margin: 0 auto;
  background-color: $primaryColor;
  border-width: 0;
  color: $fontSecondaryColor;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;

  @include font-style(21px, 26px, 700);

  &:hover {
    background-color: $buttonHoverColor;
  }

  &:active {
    color: rgba($fontSecondaryColor, 0.3);
    background-color: $buttonActiveColor;
  }

  &:focus {
    outline: 4px solid $buttonHoverColor;
  }

  &:disabled {
    background-color: $hoverInput;
    cursor: auto;
  }

  &--feedback {
    max-width: 281px;
    padding: 18px 14px 14px 14px;
    margin: 0;

    @media screen and (min-width: $tablet-width) {
      min-width: 324px;
    }

    @media screen and (min-width: $desktop-width) {
      min-width: 384px;
    }
  }

  &--search {
    padding: 16px;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;

    @media screen and (min-width: $tablet-width) {
      margin: 0 auto;
      padding: 14px 16px 17px;
      max-width: 458px;
    }
  }

  &--modal-approve {
    min-width: 280px;
    padding: 18px 14px 14px 14px;

    @include font-style(18px, 26px, 700);

    @media screen and (min-width: $tablet-width) {
      @include font-style(21px, 26px, 700);
    }
  }

  &--modal-error {
    min-width: 180px;
    padding: 18px 14px 14px 14px;

    @include font-style(18px, 26px, 700);

    @media screen and (min-width: $tablet-width) {
      @include font-style(21px, 26px, 700);
    }
  }
}
