.button {
  display: block;
  margin: 0 auto;
  background-color: $primaryColor;
  border-width: 0;
  color: $fontSecondaryColor;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: $buttonHoverColor;
  }

  &:active {
    color: rgba($fontSecondaryColor, 0.3);
    background-color: $buttonActiveColor;
  }

  &:disabled {
    background-color: $hoverInput;
    cursor: auto;
  }

  &--feedback {
    min-width: 281px;
    padding: 18px 14px 14px 14px;

    @include font-style(21px, 26px, 700);

    @media screen and (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &--search {
    max-width: 284px;
    padding: 16px;

    @include font-style(21px, 26px, 700);
  }

  &--modal-approve {
    min-width: 280px;
    padding: 18px 14px 14px 14px;

    @include font-style(18px, 26px, 700);
  }

  &--modal-error {
    min-width: 180px;
    padding: 18px 14px 14px 14px;

    @include font-style(18px, 26px, 700);
  }
}
