.button {
  display: block;
  margin: 0 auto;
  background-color: $primaryColor;
  border-width: 0;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button--feedback {
  min-width: 281px;
  padding-top: 18px;
  padding-bottom: 14px;

  @include font-style(21px, 26px, 700);
}

.button--search {
  min-width: 284px;
  padding-top: 16px;
  padding-bottom: 16px;

  @include font-style(21px, 26px, 700);
}

.button--modal-approve {
  min-width: 280px;
  padding-top: 18px;
  padding-bottom: 14px;

  @include font-style(18px, 26px, 700);
}

.button--modal-error {
  min-width: 180px;
  padding-top: 18px;
  padding-bottom: 14px;

  @include font-style(18px, 26px, 700);
}
