.checkbox-field:not(:last-child) {
  padding-bottom: 36px;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
  }
}

.checkbox-field__label {
  color: $fontSecondaryColor;

  @include font-style(18px, 26px, 700);
}
