.checkbox-field {
  position: relative;
  display: block;

  &:hover {
    .checkbox-field__mark {
      background-color: $hoverInput;
    }
  }

  &:active {
    .checkbox-field__mark {
      background-color: #d5d5d5;
    }

    .checkbox-field__mark::after {
      opacity: 0.3;
    }
  }
}

.checkbox-field__label {
  color: $titleColor;
  padding-left: 62px;

  @include font-style(18px, 26px, 700);
}

.checkbox-field__input {
  appearance: none;
}

.checkbox-field__mark {
  position: absolute;
  top: -10px;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: $inputColor;
  border-radius: 4px;
  z-index: 1;
  content: "";
}

.checkbox-field__input:checked + .checkbox-field__mark::after {
  position: absolute;
  width: 22px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../img/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.checkbox-field__input:focus + .checkbox-field__mark {
  background-color: #d5d5d5;
}
