.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: $primaryColor;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__text {
  margin-right: 12px;
  text-transform: uppercase;

  @include font-style(14px, 21px, 400);
}
