.feedback-form__wrapper {
  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.feedback-form__group:nth-child(3) {
  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / span 2;
  }
}

.feedback-form__group:nth-child(4) {
  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / span 2;
  }
}

.feedback-form__group:nth-child(5) {
  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / span 2;
  }
}

.feedback-form__note {
  display: block;
  padding-right: 20px;
  text-transform: uppercase;
  text-align: right;

  @include font-style(12px, 21px, 400);
}
