.feedback-form {
  padding: 0 20px 0 20px;

  @media screen and (min-width: $tablet-width) {
    padding: 0 60px 0 60px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 120px 0 120px;
  }
}

.feedback-form__wrapper {
  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.feedback-form__group {
  border: 0;
  border-bottom: 1px solid $borderColor;

  &:last-of-type {
    border-bottom: none;
  }

  @media screen and (min-width: $tablet-width) {
    border-bottom: none;

    &:nth-of-type(1) {
      padding-right: 43px;
      border-right: 1px solid #d8d8d8;
    }

    &:nth-of-type(2) {
      padding-left: 44px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 0;

    &:nth-of-type(1) {
      padding-right: 63px;
    }

    &:nth-of-type(2) {
      padding-left: 64px;
    }
  }
}

.feedback-form__group--wide {
  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / span 2;
  }
}

.feedback-form__button-wrapper {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.feedback-form__note {
  display: block;
  text-transform: uppercase;
  text-align: center;

  @include font-style(12px, 21px, 400);
}
