.feedback-form {
  padding: 0 20px 0 20px;

  @media screen and (min-width: $tablet-width) {
    padding: 0 60px 0 60px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 120px 0 120px;
  }
}

.feedback-form__wrapper {
  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
  }
}

.feedback-form__group--wide {
  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / span 2;

    &:not(:first-of-type)::before {
      position: absolute;
      top: 35px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: #d8d8d8;
      content: "";
    }
  }
}

.feedback-form__button-wrapper {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.feedback-form__note {
  display: block;
  padding-right: 20px;
  text-transform: uppercase;
  text-align: right;

  @include font-style(12px, 21px, 400);

  @media screen and (min-width: $tablet-width) {
    padding: 0;
  }
}
