.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 34px;
  margin: 0;
  border: 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid $borderColor;
  }

  @media screen and (min-width: $tablet-width) {
    padding-bottom: 0;

    &:nth-of-type(1) {
      padding-right: 43px;
      border-right: 1px solid #d8d8d8;
    }

    &:nth-of-type(2) {
      padding-left: 44px;
    }

    &:not(:last-of-type) {
      border-bottom: none;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 0;

    &:nth-of-type(1) {
      padding-right: 63px;
    }

    &:nth-of-type(2) {
      padding-left: 64px;
    }
  }
}

.form-group__title {
  padding: 0;
  padding-top: 24px;
  margin: 0;
  text-transform: uppercase;
  color: $fontSecondaryColor;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: block;
    width: fit-content;
    padding: 24px 63px 0 63px;
    margin: 0 auto;
    background-color: #ffffff;
    z-index: 2;
  }

  &--text-field {
    padding-bottom: 20px;

    @media screen and (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &--radio-field {
    padding-bottom: 30px;

    @media screen and (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &--checkbox-field {
    padding-bottom: 30px;

    @media screen and (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &--textarea-field {
    padding-bottom: 20px;

    @media screen and (min-width: $tablet-width) {
      padding: 0;
    }
  }

  @include font-style(18px, 26px, 700);
}

.form-group__field {
  display: block;
  box-sizing: border-box;
}

.form-group__field--textarea-field {
  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.form-group__label-wrapper--wide {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}
