.form-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 34px;
  margin: 0;
  border: 0;
}

.form-group:not(:last-of-type) {
  border-bottom: 1px solid $borderColor;
}

.form-group__title {
  padding: 0;
  padding-top: 24px;
  margin: 0;
  text-transform: uppercase;
  color: $fontSecondaryColor;
  text-align: center;

  &--text-field {
    padding-bottom: 20px;
  }

  &--radio-field {
    padding-bottom: 30px;
  }

  &--checkbox-field {
    padding-bottom: 30px;
  }

  &--textarea-field {
    padding-bottom: 20px;
  }

  @include font-style(18px, 26px, 700);

  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.form-group__field {
  display: block;
  box-sizing: border-box;
}

.form-group__field--textarea-field {
  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.form-group__label-wrapper--wide {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}
