.gallery {
  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.gallery__preview {
  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / span 2;
  }

  @media screen and (min-width: $desktop-width) {
    grid-column: 1 / span 3;
  }
}

.gallery__item {
  min-height: 425px;

  &:first-of-type {
    @media screen and (min-width: $tablet-width) {
      grid-column: 1 / span 2;
    }

    @media screen and (min-width: $desktop-width) {
      grid-column: 1 / span 3;
    }
  }

  @media screen and (min-width: $tablet-width) {
    min-height: 347px;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 267px;
  }
}
