.gallery-item {
  position: relative;
  padding: 24px 20px 20px;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid $mobileBorderColor;

  @media screen and (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.gallery-item__caption {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 22px 20px 15px 20px;
    background-color: $captionPrimaryColor;
    box-sizing: border-box;
  }

  @media screen and (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    padding: 22px 20px 15px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: $fontSecondaryColor;

    &--align {
      padding: 17px 20px 20px 20px;
    }
  }
}

.gallery-item:nth-child(2n+2) .gallery-item__caption {
  @media screen and (min-width: $tablet-width) {
    background-color: $captionSecondaryColor;
  }

  @media screen and (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery-item__caption-copyright {
  margin-bottom: 12px;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
  }
}

.gallery-item__title {
  color: $titleColor;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @include font-style(14px, 22px, 700);

  @media screen and (min-width: $desktop-width) {
    color: $fontSecondaryColor;
  }
}

.gallery-item__author {
  padding: 0;
  margin: 0;

  @include font-style(14px, 21px, 400);
}

.gallery-item__likes {
  font-weight: 700;
  margin-top: 5px;
  margin-left: 5px;
}

.gallery-item__image {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  object-fit: cover;

  @media screen and (min-width: $tablet-width) {
    height: 267px;
    width: 100%;
    margin: 0;
  }

  &--wide {
    @media screen and (min-width: $tablet-width) {
      height: 400px;
    }
  }
}

.gallery-item__caption-rate {
  display: flex;

  @media screen and (min-width: $tablet-width) {
    margin-top: 5px;
  }

  @media screen and (min-width: $desktop-width) {
    &--align {
      margin-top: 10px;
    }
  }
}

.gallery-item__caption-rate-button {
  width: 23px;
  height: 21px;
  padding: 0;
  margin-right: 9px;
  color: #000000;
  border: none;
  background-color: transparent;
  opacity: 0.3;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    margin-right: 4px;
  }

  @media screen and (min-width: $desktop-width) {
    color: $fontSecondaryColor;
    opacity: 1;
  }
}
