.group-textarea-field {
  @media screen and (min-width: $tablet-width) {
    min-height: 262px;
    padding-bottom: 15px;
    box-sizing: border-box;
  }
}

.group-textarea-field__title {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}
