.page__header {
  height: 56px;
  box-sizing: border-box;
}

.page__footer {
  height: 242px;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    height: 120px;
  }
}

.advantages__preview {
  height: 221px;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    height: 206px;
  }
}

.main-container__promo {
  height: 390px;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    height: 518px;
  }
}

.advantages-item-base {
  height: 168px;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages-item-advanced__content-wrapper {
  height: 191px;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages-item-advanced__content-wrapper--first {
  height: 210px;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages-item-advanced__photo {
  height: 260px;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages-item-advanced__sublist {
  height: 416px;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    height: 330px;
  }
}

.main-container__search {
  height: 286px;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    height: 318px;
  }

  @media screen and (min-width: $desktop-width) {
    height: 331px;
  }
}

.main-container__location {
  height: 350px;
  box-sizing: border-box;
}

.promo__text--main {
  padding-top: 90px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 77px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 78px;
  }
}
