.main-search {
  text-align: center;
}

.main-search__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $titleColor;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    @include font-style(30px, 26px, 700);
  }
}

.main-search__description {
  margin: 0;
  margin-bottom: 32px;
  text-transform: uppercase;

  @include font-style(14px, 21px, 400);
}
