.main-nav {
  position: relative;
  background-color: $primaryColor;
}

.main-nav__list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav__list--opened {
  display: block;
  z-index: 2;
}

.main-nav__list--closed {
  display: none;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  background-color: $primaryColor;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @include font-style(18px, 26px, 700);
}
