.main-footer {
  padding: 38px 0 23px 0;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px 36px 45px;
  }
}

.main-footer__hashtag {
  margin-bottom: 34px;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__socials {
  margin-bottom: 40px;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
  }
}
