.main-nav {
  position: relative;
  box-sizing: border-box;
  z-index: 2;

  @media screen and (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
  }
}

.main-nav__list {
  display: block;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &--opened {
    z-index: 2;
  }

  &--closed {
    display: none;
  }

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.main-nav__item {
  text-align: center;
}

.main-nav__item:nth-child(1) {
  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.main-nav__item:nth-child(2) {
  @media screen and (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }
}

.main-nav__item:nth-child(3) {
  @media screen and (min-width: $tablet-width) {
    grid-column: 4 / 5;
  }
}

.main-nav__item:nth-child(4) {
  @media screen and (min-width: $tablet-width) {
    grid-column: 5 / 6;
  }
}

.main-nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  background-color: $primaryColor;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @include font-style(18px, 26px, 700);

  @media screen and (min-width: $tablet-width) {
    color: $fontSecondaryColor;
    background-color: #ffffff;
    box-shadow: none;

    @include font-style(14px, 21px, 700);
  }
}

.main-nav__link--active {
  @media screen and (min-width: $tablet-width) {
    color: #766357;
  }
}
