.main-footer {
  padding: 28px 0 23px 0;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 36px 120px;
  }
}

.main-footer__hashtag {
  margin-bottom: 34px;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__socials {
  margin-bottom: 40px;

  &--align {
    margin-left: 4px;
  }

  @media screen and (min-width: $tablet-width) {
    margin: 0;

    &--align {
      margin-right: 5px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--align {
      margin-right: 4px;
    }
  }
}
