.modal-approve {
  position: relative;
  max-width: 320px;
  padding: 39px 20px 128px 20px;
  margin: auto;
  text-align: center;
  background: $containerBackgroundColor;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    width: 640px;
    padding: 53px 99px 176px 97px;
  }
}

.modal-approve__title {
  margin: 0;
  margin-bottom: 36px;
  color: $titleColor;
  text-transform: uppercase;

  @include font-style(21px, 26px, 700);

  @media screen and (min-width: $tablet-width) {
    @include font-style(30px, 26px, 700);
  }
}

.modal-approve__approve-message {
  margin: 0;
  text-transform: uppercase;

  @include font-style(14px, 21px, 400);
}

.modal-approve__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0 20px;
  background-color: $captionPrimaryColor;

  @media screen and (min-width: $tablet-width) {
    padding: 44px 0 44px;
  }
}
