.modal-error {
  padding: 45px 42px 35px 41px;
  text-align: center;
}

.modal-error__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $fontSecondaryColor;
  text-transform: uppercase;
}

.modal-error__error-message {
  margin: 0;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
