.modal-error {
  max-width: 400px;
  padding: 45px 42px 35px 41px;
  margin: 0 auto;
  text-align: center;
}

.modal-error__title {
  margin: 0;
  margin-bottom: 36px;
  color: $titleColor;
  text-transform: uppercase;

  @include font-style(21px, 26px, 700);
}

.modal-error__error-message {
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;

  @include font-style(14px, 21px, 400);

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 49px;
  }
}
