.modal-error {
  max-width: 400px;
  min-height: 280px;
  padding: 45px 42px 10px 41px;
  margin: auto;
  text-align: center;
  background-color: $containerBackgroundColor;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    min-height: 347px;
    padding-top: 48px;
  }
}

.modal-error__title {
  margin: 0;
  margin-bottom: 26px;
  color: $titleColor;
  text-transform: uppercase;

  @include font-style(18px, 26px, 700);

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 22px;

    @include font-style(30px, 40px, 700);
    @include break;
  }
}

.modal-error__error-message {
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;

  @include font-style(14px, 21px, 400);

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 48px;
  }
}
