.preview {
  margin: 0 auto;
  max-width: 280px;
  text-align: center;
  border-bottom: 1px solid $mobileBorderColor;
  text-transform: uppercase;
  box-sizing: content-box;

  @media screen and (min-width: $tablet-width) {
    max-width: 435px;
    border: none;
  }

  &--main {
    padding: 34px 20px 16px 17px;
    max-width: 282px;

    @media screen and (min-width: $tablet-width) {
      padding: 48px 50px 57px;
      max-width: 520px;

      .preview__title {
        @include font-style(21px, 26px, 700);
      }
    }

    @media screen and (min-width: $desktop-width) {
      padding: 59px 50px 44px;
      max-width: 484px;
    }
  }

  &--search {
    margin-bottom: 32px;
    max-width: 261px;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 41px;
      max-width: 435px;
    }

    @media screen and (min-width: $desktop-width) {
      margin-bottom: 46px;
      max-width: 435px;
    }
  }

  &--gallery {
    padding: 38px 20px 37px;
    max-width: 280px;

    @media screen and (min-width: $tablet-width) {
      padding: 66px 50px 80px;
      max-width: 435px;
    }

    @media screen and (min-width: $desktop-width) {
      padding: 100px 50px 90px;
      max-width: 434px;
    }
  }

  &--video {
    padding: 17px 20px 38px;
    max-width: 266px;
    border: none;

    @media screen and (min-width: $tablet-width) {
      padding: 60px 50px 90px;
      max-width: 445px;
    }

    @media screen and (min-width: $desktop-width) {
      padding: 62px 50px 90px;
      max-width: 445px;
    }
  }

  &--form {
    padding: 36px 20px 28px;
    max-width: 280px;

    @media screen and (min-width: $tablet-width) {
      padding: 64px 10px 20px;
      max-width: 460px;
      min-height: 260px;
      box-sizing: border-box;
    }

    @media screen and (min-width: $desktop-width) {
      padding: 115px 10px 20px;
      max-width: 460px;
      min-height: 282px;
    }
  }
}

.preview__title {
  margin: 0;
  margin-bottom: 22px;
  color: $titleColor;

  @include font-style(18px, 26px, 700);

  @media screen and (min-width: $tablet-width) {
    @include font-style(30px, 26px, 700);
  }

  &--main {
    margin-bottom: 35px;

    @include break;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 30px;

      @include inline;
    }
  }

  &--search {
    margin-bottom: 22px;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }

  &--gallery {
    margin-bottom: 22px;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 29px;
    }
  }

  &--video {
    margin-bottom: 30px;
  }

  &--form {
    margin-bottom: 24px;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop-width) {
      margin-bottom: 29px;
    }
  }
}

.preview__description {
  margin: 0;

  @include font-style(14px, 21px, 400);

  &--gallery {
    @media screen and (min-width: $tablet-width) {
      @include break;
    }
  }

  &--form {
    @media screen and (min-width: $tablet-width) {
      @include font-style(14px, 24px, 400);
      @include break;
    }

    @media screen and (min-width: $desktop-width) {
      @include font-style(14px, 21px, 400);
    }
  }
}
