.preview {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid $mobileBorderColor;
  text-transform: uppercase;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    border: none;
  }

  &--main {
    padding: 34px 20px 16px 17px;
    max-width: 282px;
    box-sizing: content-box;

    @media screen and (min-width: $tablet-width) {
      padding-top: 48px;
      max-width: 540px;
      min-height: 206px;
      box-sizing: border-box;

      .preview__title {
        @include font-style(21px, 26px, 700);
      }
    }

    @media screen and (min-width: $desktop-width) {
      padding-top: 59px;
    }
  }

  &--search {
    padding: 40px 18px 20px;
    max-width: 320px;
    min-height: 180px;
    border: 0;

    @media screen and (min-width: $tablet-width) {
      padding-top: 57px;
      max-width: 480px;
      min-height: 202px;
    }

    @media screen and (min-width: $desktop-width) {
      padding-top: 61px;
      min-height: 207px;
    }
  }

  &--gallery {
    padding-top: 38px;
    max-width: 320px;
    min-height: 188px;

    @media screen and (min-width: $tablet-width) {
      padding-top: 66px;
      max-width: 470px;
      min-height: 247px;
    }

    @media screen and (min-width: $desktop-width) {
      padding-top: 100px;
      min-height: 287px;
    }
  }

  &--video {
    padding-top: 17px;
    max-width: 320px;
    min-height: 173px;
    border: none;

    @media screen and (min-width: $tablet-width) {
      padding-top: 60px;
      max-width: 490px;
      min-height: 245px;
    }

    @media screen and (min-width: $desktop-width) {
      padding-top: 62px;
      min-height: 247px;
    }
  }

  &--form {
    padding-top: 36px;
    max-width: 320px;
    min-height: 200px;

    @media screen and (min-width: $tablet-width) {
      padding-top: 64px;
      max-width: 480px;
      min-height: 260px;
    }

    @media screen and (min-width: $desktop-width) {
      padding-top: 115px;
      min-height: 282px;
    }
  }
}

.preview__title {
  margin: 0;
  margin-bottom: 22px;
  color: $titleColor;

  @include font-style(18px, 26px, 700);

  @media screen and (min-width: $tablet-width) {
    @include font-style(30px, 26px, 700);
  }

  &--main {
    margin-bottom: 35px;

    @include break;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 30px;

      @include inline;
    }
  }

  &--search {
    margin-bottom: 22px;

    @include font-style(21px, 26px, 700);

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 30px;

      @include font-style(30px, 26px, 700);
    }
  }

  &--gallery {
    margin-bottom: 22px;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 29px;
    }
  }

  &--video {
    margin-bottom: 30px;
  }

  &--form {
    margin-bottom: 24px;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop-width) {
      margin-bottom: 29px;
    }
  }
}

.preview__description {
  margin: 0;

  @include font-style(14px, 21px, 400);

  &--gallery {
    @media screen and (min-width: $tablet-width) {
      @include break;
    }
  }

  &--form {
    @media screen and (min-width: $tablet-width) {
      @include font-style(14px, 24px, 400);
      @include break;
    }

    @media screen and (min-width: $desktop-width) {
      @include font-style(14px, 21px, 400);
    }
  }

  &--search {
    @media screen and (min-width: $tablet-width) {
      @include break;
    }
  }
}
