.preview {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid $mobileBorderColor;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    border: none;
  }

  &--main {
    max-width: 490px;
    padding: 34px 20px 16px 17px;

    @media screen and (min-width: $tablet-width) {
      padding: 48px 50px 57px 50px;

      .preview__title {
        @include font-style(21px, 26px, 700);
      }
    }

    @media screen and (min-width: $desktop-width) {
      padding: 59px 50px 44px 50px;
    }
  }

  &--gallery {
    max-width: 458px;
    padding: 38px 20px 37px 20px;

    @media screen and (min-width: $tablet-width) {
      padding: 66px 50px 80px 50px;
    }

    @media screen and (min-width: $desktop-width) {
      padding: 100px 50px 90px 50px;
    }
  }

  &--video {
    max-width: 445px;
    padding: 17px 20px 38px 20px;
    border: none;

    @media screen and (min-width: $tablet-width) {
      padding: 60px 50px 90px 50px;
    }

    @media screen and (min-width: $desktop-width) {
      padding: 62px 50px 90px 50px;
    }
  }

  &--form {
    max-width: 434px;
    padding: 36px 20px 28px 20px;

    @media screen and (min-width: $tablet-width) {
      padding: 64px 50px 102px 50px;
    }

    @media screen and (min-width: $desktop-width) {
      padding: 115px 50px 67px 50px;
    }
  }
}

.preview__title {
  margin: 0;
  margin-bottom: 24px;
  color: $titleColor;

  @include font-style(18px, 26px, 700);

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 32px;

    @include font-style(30px, 26px, 700);
  }

  &--main {
    margin-bottom: 35px;

    @include break;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 28px;

      @include inline;
    }
  }

  &--video {
    margin-bottom: 26px;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 32px;
    }
  }
}

.preview__description {
  margin: 0;

  @include font-style(14px, 21px, 400);

  &--gallery {
    @media screen and (min-width: $tablet-width) {
      @include break;
    }
  }
}
