.promo {
  position: relative;
  min-height: 158px;
  background-image: image-set(
      url("/img/jpg/back-mobile.jpg") 1x,
      url("/img/jpg/back-mobile@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: $primaryColor;

  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("/img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  @media screen and (min-width: 320px) {
    background-image: image-set(
    url("/img/jpg/back-tablet.jpg") 1x,
        url("/img/jpg/back-tablet@2x.jpg") 2x
    );
  }

  @media screen and (min-width: $tablet-width) {
    min-height: 290px;

    &::after {
      background-image: url("/img/intro-triangle-big.svg");
    }
  }

  @media screen and (min-width: $desktop-width) {
    background-image: image-set(
        url("/img/jpg/back-desktop.jpg") 1x,
        url("/img/jpg/back-desktop@2x.jpg") 2x
    );
  }
}

.promo--main {
  min-height: 389px;

  @media screen and (min-width: $tablet-width) {
    min-height: 518px;
  }
}

.promo__text {
  display: block;
  margin: 0 auto;
  padding-top: 52px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 95px;
    width: 457px;
    height: 78px;
  }
}

.promo__text--main {
  padding-top: 90px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 77px;
    width: 461px;
    height: 350px;
  }
}
