.text-field {
  display: block;
}

.text-field__label {
  display: block;
  text-transform: uppercase;

  @include font-style(14px, 21px, 400);
}

.text-field__input {
  width: 100%;
  padding: 12px;
  color: $titleColor;
  background-color: $inputColor;
  border: 4px solid transparent;
  box-sizing: border-box;

  &:hover {
    background-color: $hoverInput;
  }

  &:active {
    background-color: $containerBackgroundColor;
    border: 4px solid $borderColor;
  }

  &:focus-visible {
    outline: none;
  }

  @include font-style(18px, 26px, 700);
}

.text-field__input::placeholder {
  color: $titleColor;
  opacity: 0.3;
}

.text-field--phone {
  @include input-icon("../img/phone.svg");

  .text-field__input {
    padding-right: 78px;
  }
}

.text-field--email {
  @include input-icon("../img/mail.svg");

  .text-field__input {
    padding-right: 78px;
  }
}
