.toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  display: block;
  width: 23px;
  height: 23px;
  border: 0;
  background-color: transparent;
  z-index: 3;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 23px;
    height: 4px;
    background-color: $primaryColor;
    box-shadow: 0 9px 0 0 $primaryColor, 0 18px 0 0 $primaryColor;
    content: "";
  }

  @media screen and (min-width: $tablet-width) {
    display: none;
  }

  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}
