@mixin font-style($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin add-icon($width, $height, $url) {
  display: block;
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: $width;
  height: $height;
  content: "";
}
