@mixin font-style($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin add-icon($width, $height, $url) {
  display: block;
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: $width;
  height: $height;
  content: "";
}

@mixin add-number {
  &::after {
    margin-top: 20px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    counter-increment: advantages;
    content: "– №" counter(advantages) " –";
  }
}
