$primaryColor: #81b3d2;
$secondaryColor: #eeeeee;
$hoverColor: #669ec0;
$hoverInput: #e5e5e5;
$fontPrimaryColor: #333333;
$fontSecondaryColor: #000000;
$borderColor: #e5e5e5;
$inputColor: #f2f2f2;
$captionPrimaryColor: #f2f2f2;
$captionSecondaryColor: #eaeaea;
