$backgroundColor: rgba(242, 242, 242, 1);
$containerBackgroundColor: rgba(255, 255, 255, 1);
$primaryColor: rgba(129, 179, 210, 1);
$secondaryColor: rgba(238, 238, 238, 1);
$buttonHoverColor: rgba(102, 158, 192, 1);
$buttonActiveColor: rgba(84, 150, 189, 1);
$inputColor: rgba(242, 242, 242, 1);
$hoverInput: rgba(229, 229, 229, 1);
$fontPrimaryColor: rgba(51, 51, 51, 1);
$fontSecondaryColor: rgba(255, 255, 255, 1);
$titleColor: rgba(0, 0, 0, 1);
$mobileBorderColor: rgba(229, 229, 229, 1);
$desktopBorderColor: rgba(219, 219, 219, 1);
$captionPrimaryColor: rgba(242, 242, 242, 1);
$captionSecondaryColor: rgba(234, 234, 234, 1);
$activeLink: rgba(118, 99, 87, 1);
