.advantages-sublist-item {
  margin: 0;
  padding: 15px 18px 15px 18px;
}

.advantages-sublist-item:nth-child(1)::before {
  display: block;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 39px;
  height: 37px;
  content: "";
}

.advantages-sublist-item:nth-child(2)::before {
  display: block;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 35px;
  content: "";
}

.advantages-sublist-item:nth-child(3)::before {
  display: block;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 38px;
  content: "";
}

.advantages-sublist-item__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-sublist-item__description {
  margin: 0;
  text-transform: uppercase;
}
