.advantages-sublist {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
  color: #333333;
}

.advantages-sublist-item__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-sublist-item__description {
  text-transform: uppercase;
}
