.advantages-sublist-item {
  padding: 15px 18px 15px 18px;
}

.advantages-sublist-item__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-sublist-item__description {
  margin: 0;
  text-transform: uppercase;
}
