.advantages-item {
  box-sizing: border-box;
  background-color: #eeeeee;
}

.advantages-item__content-wrapper {
  padding: 24px 16px 24px 16px;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
}

.advantages-item__title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item__description {
  margin: 0;
  text-transform: uppercase;
}

.advantages-item__photo {
  display: block;
  padding: 0;
}

.advantages-item--base {
  padding: 0 18px 0 18px;
}

.advantages-item--advanced {
  background-color: #81b3d2;
  color: #ffffff;
  border: 0;
}

.advantages-item__title--advanced {
  color: #ffffff;
}
