.advantages-item{
  background-color: #EEEEEE;
}

.advantages-item__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item__description {
  text-transform: uppercase;
}

.advantages-item--advanced {
  background-color: #81B3D2;
  color: #ffffff;
}

.advantages-item__title--advanced {
  color: #ffffff;
}

.advantages-item__photo {
  display: block;
}

.advantages-item__content-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
