.main-nav {
  background-color: #81B3D2;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
