.main-search {
  text-align: center;
}

.main-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.main-search__description {
  text-transform: uppercase;
}

.main-search__wrapper {
  margin-bottom: 49px;
}
