.main-footer {
  text-align: center;
}

.main-footer__hashtag {
  margin-top: 28px;
  margin-bottom: 34px;
}

.main-footer__socials {
  margin-bottom: 47px;
}

.main-footer__copyright {
  margin-bottom: 29px;
}
