.modal-error__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-error__error-message {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
