.text-field__label {
  text-transform: uppercase;
}

.text-field__input {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #F2F2F2;
  border-width: 0;
}

.text-field__label {
  display: block;
}
