.text-field__label {
  display: block;
  text-transform: uppercase;
}

.text-field__input {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #f2f2f2;
  border-width: 0;
}
